/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.App,
.Form,
.Info, 
.WeatherSearch {
  font-family: monospace, "Courier New", Courier;
  color: rgba(0, 0, 0, 0.8);
}

.card {
  max-width: 500px;
  margin: 50px auto 0px;
  padding: 15px;
  border: 1px solid rgba(211, 211, 211, 1);
  border-radius: 6px;
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  box-shadow: 1px 1px 24px rgba(167, 167, 167, 0.5);
}

form {
  width: 100%;
  align-self: center;
}

#search-bar {
  margin: 0 auto;
  padding: 0;
}

input {
  width: 100%;
  align-self: center;
  margin-left: 10px;
  padding: 5px 10px;

  border: 1px solid rgba(0, 0, 0, 0.466);
  border-radius: 6px 0px 0px 6px;
}

#search-button {
  margin: 0;
  padding: 0;
}

#search-btn {
  border: 1px solid rgba(0, 0, 0, 0.466);
  border-radius: 6px;
  padding: 5px 25px;
  margin-right: 10px;
  float: right;
}

.information {
  margin-top: 15px;
}

.weather-icon {
  padding: 0;
}

#big-icon {
  max-width: 75px;
  margin-top: 15px;
}

#temp-units {
  font-size: 16px;
  position: relative;
  top: -5px;
  font-weight: bold;
}
/*#current-unit {
  font-size: 16px;
  position: relative;
  top: -5px;
  font-weight: bold;
  color: blue;
}*/

#celsius:hover {
  color: blue;
  transition: 100ms ease-in-out;
  font-size: 20px;
  cursor: pointer;
}

#fahrenheits:hover {
  color: blue;
  transition: 100ms ease-in-out;
  font-size: 20px;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}

#sky {
  text-transform: capitalize;
}

#weather-info {
  padding-right: 0;
}
#time-info {
  padding-left: 0;
}

#forecast {
  text-align: center;
}

.small-forecast {
  font-size: small;
}

footer {
  text-align: center;
  max-width: 600px;
  margin: 6px auto;
}
